<a href="https://colab.research.google.com/github/AmiMunshi/Introduction_to_Python_Programming/blob/main/Unit2_1_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Unit 2 Python Data Structure and Flow Control
**Syllabus**<br>
String, List, Dictionary, Tuple,  Sets<br>
Slicing<br>
Properties, operations and methods used for these data structures<br>
Conditional block using if-else and elif, simple for loops, for loop using range, while loop, loop manipulation using continue, break, pass<br>
List and dictionary comprehension

#Data Structure

The way or a structure or a form in which the data is stored so that they can be accessed easily for further processing, maniupulation, analysis.

###String
Strings are array of bytes representing unicode characters

**DIY** Find out about unicode characters

####String Operators

In [ ]:
# + operator for concatenation
first_name= input("Enter your first name: ") #input from user
last_name= "Munshi"
name= first_name +" " +last_name #string concatenation
print(name)

In [ ]:
type(name) #type of variable name

In [ ]:
# * operator for repetition
word= "good"
n=2
2*word

In [ ]:
# in operator to check if certain word is present in the string
info= "Good morning Mumbai. Welcome to this program"
if "Mumbai" in info:
  print("yes")

#Alternative way 
print("Mumbai" in info)

yes
True

In [ ]:
#mulit line string
announce= """Hello and welcome to this program
my name is Ami Munshi""" # can use single quotes also
print(announce)

####Some basic in built function in string

In [ ]:
ord("a")
chr(65)
len("fighter")
str(78)

'78'

####String Indexing and slicing

In [ ]:
#accessing string element
city= "Mumbai"
print(city[2])
print (city[-1])

m
i

In [ ]:
#slicing examples
data= 'Programming'
#print(len(data)) #get length of the string
#print(data[0:11]) #print all the characters
#print(data[:])#print all the characters
#print(data[::-1]) #print reverse
#print(data[3:7])
#print(data[0:-4])

11
Programming
Programming
gnimmargorP
gram
Program

In [ ]:
#print all the characters in the string one by one using for and in
country="India"
for letter in country:
  print(letter)

In [ ]:
#count number of a letters in a string
river= "mississippi"
river.count("s")

4

####Inserting values in to a string

In [ ]:
#Method 1
x= 6
y=7
z= x+y
print("when ", x, " is added to ", y, " we get ", z )

In [ ]:
#Method 2- using f-string

m= 6
n=7
o= m + n
print(f'sum of {m} and {n} is {o}')

sum of 6 and 7 is 13

In [ ]:
# Method 3 using format
student= "Raj"
marks= "87"
subject= "Math"

print("{} got {} marks in {}".format(student, marks, subject))

Raj got 87 marks in Math

###Modifying strings

In [ ]:
#String is immutable

colour= "Orange"
colour[2]="x" #Replacing the letter at index 2 is not possible
print(colour)

In [ ]:
Method 1 to modify string
str1= colour[0:2] +"x" +colour[3:]
print(str1)

Orxnge

In [ ]:
#Method 2- Use in built method

planet= "Saturn"
planet= planet.replace("t","X")
print(planet)

SaXurn

####Some useful methods in strings- **EXPLORE**

capitalize()	Converts the first character to upper case <br>
upper() Converts all the characters in upper case<br>
lower() Converst all the characters in lower case<br>
casefold()	Converts string into lower case<br>
center()	Returns a centered string<br>
count()	Returns the number of times a specified value occurs in a string<br>
encode()	Returns an encoded version of the string<br>
endswith()	Returns true if the string ends with the specified value<br>
expandtabs()	Sets the tab size of the string<br>
find()	Searches the string for a specified value and returns the position of where it was found<br>
format()	Formats specified values in a string<br>
format_map()	Formats specified values in a string<br>
index()	Searches the string for a specified value and returns the position of where it was found<br>
isalnum()	Returns True if all characters in the string are alphanumeric<br>
isalpha()	Returns True if all characters in the string are in the alphabet<br>
isdecimal()	Returns True if all characters in the string are decimals<br>
isdigit()	Returns True if all characters in the string are digits<br>
isidentifier()	Returns True if the string is an identifier<br>
islower()	Returns True if all characters in the string are lower case<br>
isnumeric()	Returns True if all characters in the string are numeric<br>
isprintable()	Returns True if all characters in the string are printable<br>
isspace()	Returns True if all characters in the string are whitespaces<br>

In [ ]:
#Examples
name= "jiya"
print(name.upper())
print("Good Morning".isspace())
print("     ".isspace())
print("123".isdigit())

####Use of escape character \- **EXPLORE**


\'	Single Quote	<br>
\\	Backslash	<br>
\n	New Line	<br>
\r	Carriage Return <br>	
\t	Tab	<br>
\b	Backspace<br>	
\f	Form Feed	<br>
\ooo	Octal value	<br>
\xhh	Hex value<br>

In [ ]:
#Some examples
print("My am a \"Champion\" in this game") # use of double quotes within a text

In [ ]:
print("You go to school \ndo your homework in the evening") #use of new line character

####String to List and Back to string

In [ ]:
sentence= "We all like Python programming"
print(sentence)
new= sentence.split(" ")
print(new)
sentence_again= " ".join(new)
print(sentence_again)

We all like Python programming
['We', 'all', 'like', 'Python', 'programming']
We all like Python programming