<a href="https://colab.research.google.com/github/AmiMunshi/Introduction_to_Python_Programming/blob/main/Unit2_8_List%26Dict_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###List Comprehension

Syntax becomes shorter and elegant with list comprehension

In [1]:
#Store the values of two times table in a list and print that list
twoTimes= []
for i in range(1,13):
  twoTimes.append(2*i)

print(twoTimes)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [ ]:
#Using list comprehension for pring two times table
tableTwo= [2*i for i in range(0,13)]
print(tableTwo)

In [ ]:
#storing each letter of the given sentence in a list
str1= "Good morning Mumbai"
letterList=[]
for letter in str1:
  letterList.append(letter)
print(letterList)

In [ ]:
#using list comprehension for storing each letter of the given sentence in a list
str1= "Good morning Mumbai"
listLetter= [char for char in str1]
print(listLetter)

Using condition in list comprehension

In [ ]:
#print odd numbers
odd= [i for i in range(20) if i%2!=0]
print(odd)

In [ ]:
#Print odd or even

num= ["odd" if i%2!=0 else "even" for i in range(21)]
print(num)

In [ ]:
#DIY Create a list with squares of integers from 1 to 10

In [ ]:
#DIY Create list of integers with even squares

In [ ]:
#Add each element of list X to each element of list Y without using list comprehension

X-

Dictionary Comprehension

In [ ]:
#Two times table
twoTimes={}
for i in range (1,13):
  twoTimes[i]=2*i
print(twoTimes)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24}

In [ ]:
#Two times table using dictionary comprehension

tableTwo= {i:2*i for i in range(1,13) }
print(tableTwo)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24}

In [ ]:
# Count number of letters in the words

words= input().split(',')
wordCount= {fruit:len(fruit) for fruit in words}
print(wordCount)

banana,apple,mango,grapes,orange
{'banana': 6, 'apple': 5, 'mango': 5, 'grapes': 6, 'orange': 6}

In [ ]:
#dictionary comprehension with two variables
students= ["Ram", "Rahul", "Seema", "Priya"]
marks= [25, 27, 24, 26]
result={s:m for s,m in zip(students,marks)}
print(result)

{'Ram': 25, 'Rahul': 27, 'Seema': 24, 'Priya': 26}