Lambda Functions<br>

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

They do not use def of return key words. These are implicit in lambda

In [ ]:
#Function to find cube of a number
def cube(x):
  return x**3

In [ ]:
x= int(input("Enter the number: "))
print("Cube of the number {} is {}".format(x,cube(x)))

Enter the number: 6
Cube of the number 6 is 216

In [ ]:
#lambda function to find cube of a number

cube_new= lambda y: y**3

In [ ]:
print(cube_new(6))

216

In [ ]:
# Function with two values passed in

def add_num(x,y):
  return x+y

In [ ]:
a,b= input("Enter two integers separated by comma ").split(",") #Take the input form the user
print(add_num(int(a),int(b)))

Enter two integers separated by comma 6, -8
-2

In [ ]:
#Lambda function with two variables

add_new= lambda x,y: x+y

In [ ]:
print(add_new(6,-8))

-2

In [ ]:
#Function to find max of two numbers

def max_num(x,y):
  if x>y:
    return x
  else:
    return y

In [ ]:
a,b= input("Enter two integers separated by comma ").split(",")
print(max_num(int(a), int(b)))

Enter two integers separated by comma 6, -9
6

In [ ]:
#Print max of two numbers using lambda function

max_new= lambda x,y: x if x>y else y

In [ ]:
max_new(6,-9)

6