map()

It is Python's built-in function to used to apply the given function to all the iterables. The returned value from map() (map object) can then be passed to functions like list() (to create a list), set() (to create a set) and so on.

In [ ]:
#Function to obtain square of numbers

def squares(n):
  return n**2

In [ ]:
num=[1,2,3,4]
y=map(squares,num)
print(list(y))

[1, 4, 9, 16]

In [ ]:
#Use map to obtain square of nos in the given tuple
num= (1,2,3,4)

z= list(map(squares, num))

In [ ]:
print(z)

[1, 4, 9, 16]

In [ ]:
#Function to find length of each word

def word_len(n):
  return len(n)

In [ ]:
print(word_len("Mumbai"))

6

In [ ]:
#Using map , calculate length of each word in the given tuple/list

names= ["Jeet", "Jiya", "Ahaan", "Aarya", "Vanishka"]

length_string= list(map(word_len,names))

print(length_string)

[4, 4, 5, 5, 8]

In [ ]:
#Function to concatenate two strings

def myfunc(a, b):
  return a + b

In [ ]:
greet= ["Hello", "Good morning", "Thank you"]
names= names= [" Jeet", " Jiya", " Ahaan"]

greeting= list(map(myfunc, greet, names))
print(greeting)

['Hello Jeet', 'Good morning Jiya', 'Thank you Ahaan']

In [ ]:
#Function to multiple by two
def mul(i):
  return 2*i

In [ ]:
#two times table using map()

table= list(map(mul, list(range(1,13))))
print(table)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

Using lambda function with map()

In [ ]:
#Two times table using lambda function with map()

num=list(range(1,13))

table_2= list(map(lambda i: 2*i, num))

In [ ]:
print(table_2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [ ]:
#Convert all the letters in the strings in the given list to upper characters

fruits= ["banana", "mango", "apple", "grapes"]

upper_case= list(map(lambda s:s.upper(), fruits))

print(upper_case)

['BANANA', 'MANGO', 'APPLE', 'GRAPES']

In [ ]:
upper_case("school")

In [ ]:
#Add a string in the dictionary value

wages= {"A": "2500", "B": "3000", "C": "3700"}

new_wages= dict(map(lambda d: (d[0], "Rs"+d[1]), wages.items()))

In [ ]:
print(new_wages)

{'A': 'Rs2500', 'B': 'Rs3000', 'C': 'Rs3700'}

In [ ]:
for d in wages.items():
  print(d)
  print(d[0])
  print(d[1])

('A', '2500')
A
2500
('B', '3000')
B
3000
('C', '3700')
C
3700

In [ ]:
#update dictionary from two lists using map and lambda function

students=["Jeet", "Jiya", "Rohan"]
marks= [15,14,13]

dict1= dict(map(lambda key,value:(key,value), students,marks))
print(dict1)

{'Jeet': 15, 'Jiya': 14, 'Rohan': 13}

In [ ]:
#Write a lamda function using map that returns product of the elements in two lists
lst1= [1,2,3,4,5]
lst2= [5,4,3,2,1]

lst3= list(map(lambda x,y:x*y,lst1,lst2))
print(lst3)

[5, 8, 9, 8, 5]

Filter()
It filters the array and returns a new array with filtered value

In [ ]:
#Program to display all the even nos

even = lambda x : True if x%2==0 else False

In [ ]:
even(7)

False

In [ ]:
even1= lambda x: x%2==0

In [ ]:
even1(7)

False

In [ ]:
#Program to display all the even nos in the list using filter
nums= [4,7,8,2,3,5,7,9,11]
even_nos= list(filter(even, nums))
print(even_nos)

[4, 8, 2]

In [ ]:
#Program to display all the nos which are square in the given list using filter()

import math

root= lambda x: True if math.sqrt(x)%1==0 else False # if the number is divisible by 1, remainder is zero

In [ ]:
num= list(range(1,101))
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
#Using filter print the values which are squares

squares=list(filter(root, num))
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]