reduce()
This function  implements a mathematical technique called folding or reduction. <br>
It is useful when you need to apply a function to an iterable and reduce it to a single cumulative value

Note reduce is a function in functools package. So import it from functool

In [ ]:
#Multiply all the numbers in the list to obtain the final product
from functools import reduce

lst1= list(range(1,5))
reduce(lambda x,y:x*y, lst1)

24

In [ ]:
#Sum all the nos in the list
from functools import reduce
lst2= [int(a) for a in input().split()] #using list comprehension to take the list of nos from the user
sumNos= lambda a,b: a+b #Function to add two nos
#list3= list(map(sumNos,lst2))
print(lst2)
#print(list3)
sumList= reduce(sumNos, lst2) #Using reduce() to obtain sum of all the nos in the list

1 4 6 7
[1, 4, 6, 7]

In [ ]:
print(sumList)

18

In [ ]:
print(sum(lst2)) #Verifying using sum()

31

In [ ]:
# using reduce to compute maximum element from list
from functools import reduce
list1=[1,3,6,2,7]
print("The maximum element of the list is : ", end="")
print(reduce(lambda a, b: a if a > b else b, list1))

The maximum element of the list is : 7

In [ ]:
#Find minimum number in the list using reduce

In [ ]:
#WAP to find perimeter of the given quadrilateral when the lengths of each side is given

zip()
Pythonâ€™s zip() function is defined as zip(*iterables). The function takes in iterables as arguments and returns an iterator. This iterator generates a series of tuples containing elements from each iterable. zip() can accept any type of iterable, such as files, lists, tuples, dictionaries, sets, and so on

In [ ]:
#Put student_name, marks and standard in a tuple

name= ["A", "B", "C"]
marks= [24, 23, 26]
std= [5,6,3]

student= list(zip(name, marks, std))
print(student)

[('A', 24, 5), ('B', 23, 6), ('C', 26, 3)]

enumerate()
The enumerate() method adds a counter to an iterable and returns it (the enumerate object).
The firstindex value will start from 0. You can also specify the startindex by using the optional parameter startIndex in enumerate.

In [ ]:
#Enumerate example
languages = ["Hindi", "English", "Sanskrit"]

enum_language= enumerate(languages)

print(list(enum_language))

[(0, 'Hindi'), (1, 'English'), (2, 'Sanskrit')]

In [ ]:
#Use enumerate
x = ('apple', 'banana', 'cherry')

In [ ]:
# enumerate function in loops
l1 = ["high", "medium", "low"]

# printing the tuples in object directly
for ele in enumerate(l1,100):
    print (ele)

(100, 'high')
(101, 'medium')
(102, 'low')