<a href="https://colab.research.google.com/github/AmiMunshi/Introduction_to_Python_Programming/blob/main/Unit5_1_Classes%26Objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

References

Core Python Programming- Dr Nageswara Rao

https://www.w3schools.com/python/python_classes.asp

https://docs.python.org/3/tutorial/classes.html

Class is a model or a plan to create objects. We write class with the attributes and actions of objects. Attributes are represented by variables and actions are performed by methods.

Same methods and variables are also available in objects because they are created from class. These are called instance variable as they are created inside the instance (object)

Function written inside a class is called as a method.

A Class is like an object constructor, or a "blueprint" for creating objects.

In [ ]:
#Create a class

class NewClass():
  """variable number is stored in this class"""  #Docstring written in triple double quotes. Gives description of the class
  number=5

In [ ]:
print(NewClass.__doc__) #To know what this class does

variable number is stored in this class

In [ ]:
#Create an object of NewClass

c1= NewClass()
print(c1.number)

5

__init__() Function

In [ ]:
#Create a class called Student


class Student():
  pass

In [ ]:
s1= Student()
s1.fname= "Ami"
s1.lname= "Munshi"
s1.marks= 78
s1.email= "Ami.Munshi@nmims.edu"

In [ ]:
s2= Student()
s2.fname= "ABC"
s2.lname= "XYZ"
s2.marks= 87
s2.email= "ABc.XYZ@nmims.edu"

In [ ]:
#In the above example, we have to give attributes to all th einstances created every time. Instead, we can give all these attributes in the class

In [ ]:
#Using __init__() Function. Assigning attributes within the class

class StudentNew():
  def __init__(self, fname, lname, marks):
    self.fname= fname
    self.lname=lname
    self.marks= marks
    self.email= fname + "." + lname+"@nmims.edu"

In [ ]:
s2= StudentNew("Ami", "Munshi", 90)
print(s2.email)

Ami.Munshi@nmims.edu

In [ ]:
#Performing action by creating method within the class

class StudentRevised():
   def __init__(self, fname, lname, marks):
    self.fname= fname
    self.lname=lname
    self.marks= marks
    self.email= fname + "." + lname+"@nmims.edu"
  
   def printall(self):
     print("{} {} has obtained {} marks".format(self.fname, self.lname, self.marks) )
     print("Her email address is {}".format(self.email))

In [ ]:
s3= StudentRevised("Ami", "Munshi", 90)
s3.printall()

Ami Munshi has obtained 90 marks
Her email address is Ami.Munshi@nmims.edu

In [ ]:
#Creating one more method to calculate the grade point for the given marks in percentage
class StudentRevised():
   def __init__(self, fname, lname, marks):
    self.fname= fname
    self.lname=lname
    self.marks= marks
    self.email= fname + "." + lname+"@nmims.edu"
  
   def printall(self):
     print("{} {} has obtained {} marks".format(self.fname, self.lname, self.marks) )
     print("Her email address is {}".format(self.email))

   def grade(self):
     self.grade= self.marks/9.5
     return self.grade

In [ ]:
#Create an instance of this class
s4= StudentRevised("Ami", "Munshi", 90)
print(s4.grade()) #print grade for this instance

9.473684210526315

Types of variables

Instance variable
Class variable or stactic variable

In [ ]:
#Example for Instance variable

class Sample:
  #this is a constructor
  def __init__(self):
    self.x=10
  
  #this is a instance method
  def modify(self):
    self.x+=1

In [ ]:
#Create 2 instances 
s1=Sample()
s2=Sample()

print("x in s1 is ", s1.x)
print("x in s2 is ", s2.x)

x in s1 is  10
x in s2 is  10

In [ ]:
#modify x in s1

s1.modify()
print("x in s1= ", s1.x)
print("x in s2= ", s2.x)

x in s1=  11
x in s2=  10

Note: x is an instance variable. If we modify its value in one instance, it will not change in the other instance.

Instance variables are defined and initialized using a constructor with self parameter.

In [ ]:
#Example for class varibales or static variables

class Sample:
  #this is a class variable
  x=10

  #this is a class method
  #we are using builtin decorator statement @classmethod() to mark this method as a class method
  @classmethod
  def modify(cls):
    cls.x+=1

In [ ]:
#Create 2 instances
s1=Sample()
s2=Sample()

print("x in s1= ", s1.x)
print("x in s2= ", s2.x)

x in s1=  10
x in s2=  10

In [ ]:
#modify x in s1
s1.modify()
print("x in s1= ", s1.x)
print("x in s2= ", s2.x)

x in s1=  11
x in s2=  11

In [ ]:
#Example to process several instances

class Student:
  #this is a constructor 
  def __init__(self, n='', m=0):
    self.name= n
    self.marks=m

  #this is an instance method

  def display(self):
    print("Hi", self.name)
    print("Your marks ", self.marks)

In [ ]:
#__init__() Function

class Student:
  """Details about students"""
  #Block below will define the attributes
  def __init__(self):
    self.name= "Raj"
    self.age= 20
    self.marks= 900
  
  #The block below defines a method
  def talk(self):
    print("Hi, I am ", self.name)
    print("I am ", self.age, " year's old")
    print("My marks are ", self.marks)

In [ ]:
#Create instance or an object to the Student Class
s1= Student()
print(s1.talk())

Hi, I am  Raj
I am  20  year's old
My marks are  900
None

In [ ]:
class StudentNew():
  def __init__(self, name, age, marks):
      self.name= name
      self.age= age
      self.marks= marks
    
    #The block below defines a method
  def talk(self):
      print("Hi, I am ", self.name)
      print("I am ", self.age, " years old")
      print("My marks are ", self.marks)

In [ ]:
s2= StudentNew("Jeet", 20, 950)
print(s2.name)

Jeet

In [ ]:
s2.talk()

Hi, I am  Jeet
I am  20  year's old
My marks are  950

In [ ]:
#Modify the object property

s2.age=18

In [ ]:
s2.talk()

Hi, I am  Jeet
I am  20  years old
My marks are  950

In [ ]:
#delete object property

del s2.marks

In [ ]:
try:
  s2.talk()
except Exception as e1:
  print(e1)

Hi, I am  Jeet
I am  20  years old
'StudentNew' object has no attribute 'marks'

In [ ]:
s3= StudentNew("Jiya", 19, 990) #Create a new object of class StudentNew()
#It will be seen that the marks attribute is deleted from object s2. Not the class

In [ ]:
s3.talk()

Hi, I am  Jiya
I am  19  years old
My marks are  990

In [ ]:
#Delete the entire object

del s2

In [ ]:
try:
  s2.talk()
except Exception as e2:
  print(e2)

name 's2' is not defined

Encapsulation in Python

Writing attributes(variables) and methods inside a class

Methods processes the data available in the variables

In the example given below,  the Student class becomes the example for encapsulation

In [ ]:
class Student:
  #initialize the variables
  def __init__(self):
    self.id=10
    self.name="Raju"
  
  #display student details
  def display(self):
    print(self.id)
    print(self.name)

Abstraction

The class may contain a lot of data. But all need not be shown to the user. In this case, some data can be hidden from the user. This is called as abstraction.

In [ ]:
class MyClass:
  #this is constructor
  def __init__(self):
    self.x= 10 #public variable
    self.__y=2 #private variable

In [ ]:
c1=MyClass()
print(c1.x)

10

In [ ]:
print(c1.y)

AttributeError: ignored

In [ ]:
#Name mangling required to access private variable

class MyClass:
  #this is constructor
  def __init__(self):
    self.x= 10 #public variable
    self.__y=2 #private variable
  
  #instance method to access variables

  def display(self):
    print(self.x) #x varible is directly available
    print(self._MyClass__y) #name mangling required

In [ ]:
#Accessing variables through a method
m=MyClass()

Accessing variables thorugh method:

In [ ]:
m.display()

10
2

In [ ]:
#Accessing variables through instances
print(m.x)
print(m._MyClass__y)

10
2

In [ ]:
#Example 

class Bank:
  def __init__(self):
    self.accno= 10
    self.name= "Ami"
    self.balance= 100
    self.__loan= 1000 #private variable

  def display_to_clerk(self):
    print(self.accno)
    print(self.name)
    print(self.balance)
    print(self.loan)

In [ ]:
customer= Bank()

In [ ]:
try:
  customer.display_to_clerk()
except Exception as e:
  print(e)

10
Ami
100
'Bank' object has no attribute 'loan'

Inheritance

Creating a new class from the exisiting class so that the new class will acquire all the features of the existing class is called as inheritance

In [ ]:
#Example of inheritance

#Create class B from A

class A:
  a=1
  b=2
  def method(cls):
    print(cls.a)
    print(cls.b)

In [ ]:
#Create class B from A

class B(A):
  c=3
  def method2(cls):
    print(cls.c)

In [ ]:
c1= B()
print(c1.a)

1

In [ ]:
#Python code to access the base class constructor from sub class

class Father:
  def __init__(self):
    self.property1= 800000

  def display_property(self):
    print("Father's property is worth Rupees ", self.property1)

In [ ]:
class Son(Father):
  pass #we do not want to write anything

In [ ]:
#Create instance of class Son
s1= Son()
s1.display_property()

Father's property is worth Rupees  800000

In [ ]:
#Python program to override super class constructor and method in sub class

class Father:
  def __init__(self):
    self.property1= 800000

  def display_property(self):
    print("Father's property is worth Rupees ", self.property1)

In [ ]:
class Son(Father):
  def __init__(self):
    self.property1= 200000
  
  def display_property(self):
    print("Child's property is worth Rupees ", self.property1)

In [ ]:
s2= Son()
s2.display_property()

Child's property is worth Rupees  200000

In [ ]:
#the super() method

#used to call super class constructor methods from the subclass

#A program to call the super class constructor in the sub class using super()

class Father:
  def __init__(self, property1=0):
    self.property1= property1

  def display_property(self):
    print("Father's property is worth Rupees ", self.property1)

In [ ]:
class Son(Father):
  def __init__(self, property2= 0, property1=0):
    super().__init__(property1)
    self.property2= property2

  def display_property(self):
    print("The total property of child is ", self.property1+self.property2)

In [ ]:
#Create instance of the subclass Son

s3= Son(200000, 1800000)

In [ ]:
s3.display_property()

The total property of child is  2000000

In [ ]:
#A program to create teacher class and store it into teacher.py

%%writefile Teacher.py
class Teacher:
  def setid(self, id):
    self.id=id
  return id

Overwriting Teacher.py

In [ ]:
#Using Teacher class

from Teacher import Teacher
#create instance of this class Teacher

t= Teacher(10)

In [ ]:
print(t.setid(10))

None

In [ ]:
000